* {
    margin: none;
    padding: none;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #18295f
}
.score {
    color: white;
    font-weight: bold;
    
}
.container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 420px;
    height: 90vh;
    margin: auto;
    background-color: #ffcc00;
    border: 5px solid #3264b0;
    border-radius: 10px;
}
.container img {
    width: 120px;
    height: 120px;
    border: 5px solid #3264b0;
    background-color: #ffcc00;
    border-radius: 10px;
}

.hidden {
    display: none;
}

.card-back:hover {
    transform: scale(1.1);
}

.refresh {
    border-style: 5px solid #3264b0;
    border-radius: 5px;
    background-color: #ffcc00;
    color: black;
}